<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
    <section id="header">
        Natural Language Processing Project : Sentiment Analysis
    </section>
    <section id="Data" style="margin: 1% 10% 1% 10%;text-align: center;">
        <form action="/submit" method="POST" enctype="multipart/form-data" style="margin: 4%;border: 3px solid black;padding: 2%;">
            <p>Enter the sentiment in the given field and Press Predict for checking its lineage...</p>
            <input type="text" name="fname" id="file">
            <button type="submit" class="btn btn-lg btn-danger">Predict</button>
        </form>
    </section>
    <section id="footer">
        Made with ❤ by Elvis Sethi
    </section>

</body>
</html>